In [2]:
import pandas as pd
import numpy as np
import requests
from bs4 import BeautifulSoup
import time

### Requests

In [6]:
headers={'User-Agent':'Mozilla/5.0 (Windows NT 6.3; Win 64 ; x64) Apple WeKit /537.36(KHTML , like Gecko) Chrome/80.0.3987.162 Safari/537.36'}
webpage=requests.get('https://www.ambitionbox.com/list-of-companies?campaign=desktop_nav',headers=headers).text

### Let's make a Soup

In [5]:
soup=BeautifulSoup(webpage,'lxml')
company=soup.find_all('div',class_='companyCardWrapper__metaInformation')

In [89]:
name=[]
rating=[]
for i in company:
    name.append(i.find('h2').text.strip())
    rating.append(i.find('div',class_='rating_text').text.strip())

['(1.1L)',
 '(68k)',
 '(60.9k)',
 '(57.8k)',
 '(49.6k)',
 '(48k)',
 '(45.5k)',
 '(43.6k)',
 '(42.6k)',
 '(40.8k)',
 '(39k)',
 '(35k)',
 '(30.9k)',
 '(30.4k)',
 '(29.7k)',
 '(29.4k)',
 '(26.8k)',
 '(26k)',
 '(24.6k)',
 '(24.2k)']

In [81]:
other=soup.find_all('div',class_='companyCardWrapper__tertiaryInformation')

In [125]:
reviews=[]
salary=[]
interviews=[]
jobs=[]
benefits=[]
photos=[]

for i in other:
    reviews.append(i.find_all('span',class_='companyCardWrapper__ActionCount')[0].text.strip())
    salary.append(i.find_all('span',class_='companyCardWrapper__ActionCount')[1].text.strip())
    interviews.append(i.find_all('span',class_='companyCardWrapper__ActionCount')[2].text.strip())
    jobs.append(i.find_all('span',class_='companyCardWrapper__ActionCount')[3].text.strip())
    benefits.append(i.find_all('span',class_='companyCardWrapper__ActionCount')[4].text.strip())
    photos.append(i.find_all('span',class_='companyCardWrapper__ActionCount')[5].text.strip())

### It give only 1 PAge of data (20 data)

In [126]:
com={'Name':name,'Ratings':rating,'Reviews':review ,"Salary":salary,'Interviews':interviews,"Jobs":jobs,'Benefits':benefits,'Photos':photos}
df=pd.DataFrame(com)
df

,Name,Ratings,Reviews,Salary,Interviews,Jobs,Benefits,Photos
0,TCS,3.4,(1.1L),9.4L,11.6k,877,10.6k,87
1,Accenture,3.7,(68k),6.3L,8.9k,28.2k,6.7k,48
2,Wipro,3.7,(60.9k),4.6L,6.4k,6.1k,4.6k,99
3,Cognizant,3.7,(57.8k),5.8L,6.1k,537,5.5k,82
4,Capgemini,3.7,(49.6k),4.6L,5.3k,1.9k,3.6k,41
5,HDFC Bank,3.8,(48k),1.5L,2.7k,139,3.2k,70
6,Infosys,3.5,(45.5k),5.1L,8.2k,2.3k,4.8k,117
7,ICICI Bank,4.0,(43.6k),1.5L,2.8k,3,3.7k,69
8,HCLTech,3.4,(42.6k),3.6L,4.3k,266,3.8k,60
9,Tech Mahindra,3.4,(40.8k),2.8L,4.3k,520,3.4k,79
10,Genpact,3.6,(39k),2.2L,3.6k,368,3.5k,63
11,Teleperformance,3.8,(35k),93.8k,2.1k,695,1.8k,38
12,Axis Bank,3.7,(30.9k),1L,1.8k,881,2.1k,109
13,Concentrix Corporation,3.6,(30.4k),1.3L,1.9k,94,3.1k,66
14,Jio,4.3,(29.7k),62.5k,3.2k,43,2.5k,80
15,Amazon,4.0,(29.4k),1.4L,5.6k,1.5k,4.1k,88
16,iEnergizer,4.6,(26.8k),23.6k,920,35,429,28
17,Reliance Retail,3.9,(26k),72.7k,1.8k,80,1.9k,129
18,IBM,3.9,(24.6k),2.1L,2.5k,1.8k,2.6k,23
19,LTIMindtree,3.6,(24.2k),1.9L,3.2k,349,775,34

### Now we are including all pages of this website

In [142]:
final=pd.DataFrame()
for j in range(1,11):
    url='https://www.ambitionbox.com/list-of-companies?page={}'.format(j)
    headers={'User-Agent':'Mozilla/5.0 (Windows NT 6.3; Win 64 ; x64) Apple WeKit /537.36(KHTML , like Gecko) Chrome/80.0.3987.162 Safari/537.36'}
    webpage=requests.get(url,headers=headers).text
    soup=BeautifulSoup(webpage,'lxml')
    company=soup.find_all('div',class_='companyCardWrapper__metaInformation')

    name=[]
    rating=[]
    for i in company: 
        name.append(i.find('h2').text.strip())
        rating.append(i.find('div',class_='rating_text').text.strip())  
    reviews=[]
    salary=[]
    interviews=[]
    jobs=[]
    benefits=[]
    photos=[]
    other=soup.find_all('div',class_='companyCardWrapper__tertiaryInformation')
    for i in other:
        reviews.append(i.find_all('span',class_='companyCardWrapper__ActionCount')[0].text.strip())
        salary.append(i.find_all('span',class_='companyCardWrapper__ActionCount')[1].text.strip())
        interviews.append(i.find_all('span',class_='companyCardWrapper__ActionCount')[2].text.strip())
        jobs.append(i.find_all('span',class_='companyCardWrapper__ActionCount')[3].text.strip())
        benefits.append(i.find_all('span',class_='companyCardWrapper__ActionCount')[4].text.strip())
        photos.append(i.find_all('span',class_='companyCardWrapper__ActionCount')[5].text.strip())
    d={'Name':name,'Ratings':rating,'Reviews':reviews,"Salary":salary,'Interviews':interviews,"Jobs":jobs,'Benefits':benefits,'Photos':photos}
    df=pd.DataFrame(d)
    final = pd.concat([final, df], ignore_index=True)
    time.sleep(1)

    # final=final.append(df)

,Name,Ratings,Reviews,Salary,Interviews,Jobs,Benefits,Photos
0,TCS,3.4,1.1L,9.4L,11.6k,881,10.6k,87
1,Accenture,3.7,68k,6.3L,8.9k,28.5k,6.7k,48
2,Wipro,3.7,60.9k,4.6L,6.4k,6.1k,4.6k,99
3,Cognizant,3.7,57.8k,5.8L,6.1k,553,5.5k,82
4,Capgemini,3.7,49.6k,4.6L,5.3k,2k,3.6k,41
...,...,...,...,...,...,...,...,...
195,Publicis Sapient,3.4,3.6k,30k,670,232,391,64
196,Viatris,4.1,3.6k,14k,156,4,500,12
197,American Express,4.1,3.6k,23.5k,408,199,434,10
198,Subros,3.8,3.6k,12.4k,209,1,378,10
199,Pidilite Industries,4.2,3.6k,11.1k,245,6,358,1

In [143]:
pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)
pd.set_option('display.width', None)
pd.set_option('display.max_colwidth', None)

print(final)

                                        Name Ratings Reviews Salary  \
0                                        TCS     3.4    1.1L   9.4L
1                                  Accenture     3.7     68k   6.3L
2                                      Wipro     3.7   60.9k   4.6L
3                                  Cognizant     3.7   57.8k   5.8L
4                                  Capgemini     3.7   49.6k   4.6L
5                                  HDFC Bank     3.8     48k   1.5L
6                                    Infosys     3.5   45.5k   5.1L
7                                 ICICI Bank     4.0   43.6k   1.5L
8                                    HCLTech     3.4   42.6k   3.6L
9                              Tech Mahindra     3.4   40.8k   2.8L
10                                   Genpact     3.6     39k   2.2L
11                           Teleperformance     3.8     35k  93.8k
12                                 Axis Bank     3.7   30.9k     1L
13                    Concentrix Corporation     3.6   30.4k   1.3L
14                                       Jio     4.3   29.7k  62.6k
15                                    Amazon     4.0   29.4k   1.4L
16                                iEnergizer     4.6   26.9k  23.7k
17                           Reliance Retail     3.9     26k  72.7k
18                                       IBM     3.9   24.6k   2.1L
19                               LTIMindtree     3.6   24.2k   1.9L
20                    HDB Financial Services     3.9     24k  50.4k
21                   Larsen & Toubro Limited     3.9   22.2k  72.3k
22                                  Deloitte     3.7   21.4k   2.3L
23                       Kotak Mahindra Bank     3.6   20.9k  85.3k
24                       Reliance Industries     4.0     19k  71.3k
25                             Vodafone Idea     4.0     17k  50.6k
26                                    BYJU'S     3.1   16.6k  54.3k
27                             Bharti Airtel     3.9   16.2k  48.3k
28                                       WNS     3.3   14.1k  67.6k
29                     AU Small Finance Bank     4.1   13.4k  28.2k
30                               Tata Motors     4.1   13.4k  42.2k
31                             IndusInd Bank     3.4   13.2k  51.2k
32                             Ernst & Young     3.4   13.2k   1.3L
33                           IDFC FIRST Bank     3.9   13.1k  47.4k
34                                  Flipkart     3.9   12.2k  52.3k
35                             Bajaj Finserv     4.0   11.7k  29.2k
36                            DXC Technology     3.6   11.4k  72.5k
37                                       PwC     3.3   11.4k   1.1L
38                               Infosys BPM     3.5   11.3k  70.6k
39                       Mahindra & Mahindra     4.1   11.3k  38.8k
40                                 HDFC Life     3.9   11.1k    32k
41                           Muthoot FinCorp     4.5   10.2k   8.8k
42                              Bandhan Bank     3.7    9.9k  24.6k
43                Conneqt Business Solutions     3.5    9.9k  26.3k
44                                   Mphasis     3.3    9.7k  71.8k
45                                  Yes Bank     3.7    9.4k  42.7k
46                                Tata Steel     4.0    9.3k  32.6k
47                                     Quess     3.8      9k  29.9k
48                                   Startek     3.1    8.9k  24.1k
49                              Asian Paints     3.9    8.8k  25.1k
50                                     Paytm     3.2    8.8k  33.3k
51                          UltraTech Cement     4.1    8.7k  23.3k
52                           Shriram Finance     4.0    8.5k    15k
53                             Maruti Suzuki     4.2    8.5k  26.4k
54                             Bajaj Finance     3.9    8.3k  22.1k
55                Sutherland Global Services     3.4    8.3k  32.9k
56                               EXL Service     3.6    8.2k  42.9k
57                                   Samsung     3.9    8.1k    26k
58                                  Ericsson     4.0    8.1k  42.3k
59                                     Cipla     4.1    8.1k  25.5k
60                               Wells Fargo     3.7    7.9k  54.1k
61                               Dr. Reddy's     4.0    7.8k  25.5k
62                                       HGS     3.7    7.4k    21k
63                    Optum Global Solutions     4.0    7.4k  46.6k
64           ICICI Prudential Life Insurance     4.0    7.3k  22.5k
65                                 Delhivery     3.8    7.3k  20.3k
66           Amazon Development Centre India     3.9    7.3k  36.6k
67                      JPMorgan Chase & Co.     3.9    7.3k    81k
68                   Jana Small Finance Bank     3.8    7.2k  14.5k
69             Sun Pharmaceutical Industries     4.1    7.2k  23.1k
70                                 JSW Steel     3.9    7.2k  29.1k
71                     Hexaware Technologies     3.5    7.1k  51.5k
72                          L&T Construction     4.0      7k  18.8k
73                                     Lupin     4.1      7k  22.3k
74                        Zydus Lifesciences     4.0    6.9k  19.6k
75                        Hindustan Unilever     4.2    6.9k  19.8k
76                Equitas Small Finance Bank     4.3    6.8k  12.6k
77                                KPMG India     3.4    6.7k  61.8k
78                                       ITC     3.9    6.7k  23.6k
79                           Ekart Logistics     3.9    6.7k  15.4k
80                Ujjivan Small Finance Bank     4.0    6.6k  12.4k
81                   Axis Max Life Insurance     4.0    6.6k  19.5k
82       Megha Engineering & Infrastructures     3.9    6.4k  17.8k
83                             Tata Projects     4.2    6.3k  21.9k
84                                       FIS     3.9    6.2k  38.5k
85                   L&T Technology Services     3.1    6.1k  41.1k
86                                   Coforge     3.2    6.1k  46.1k
87                              IIFL Finance     4.0      6k  13.5k
88                                    Oracle     3.5      6k  60.3k
89                      Bajaj Life Insurance     3.9      6k  16.7k
90                               Indian Army     4.7      6k   9.5k
91                                 HCL Group     3.5      6k  40.9k
92                                       JLL     4.1    5.9k  23.4k
93                          Omega Healthcare     3.7    5.9k  25.3k
94                           Muthoot Finance     3.6    5.9k  12.7k
95        Cholamandalam Investment & Finance     3.8    5.9k  11.9k
96                                    eClerx     3.1    5.8k  30.6k
97               Virtusa Consulting Services     3.7    5.7k  55.4k
98                                     Udaan     4.0    5.7k  16.6k
99                                HSBC Group     3.9    5.6k  41.3k
100                      Indiamart Intermesh     3.6    5.6k  19.7k
101                                    DMart     3.9    5.6k  17.9k
102                         Aurobindo Pharma     4.0    5.5k  20.7k
103                                  Siemens     4.0    5.4k  32.6k
104                 Shapoorji Pallonji Group     4.1    5.4k    15k
105                        SMFG India Credit     3.9    5.4k  11.3k
106                       Standard Chartered     3.6    5.4k  41.5k
107                                BigBasket     3.9    5.4k  18.5k
108                                CGI Group     4.0    5.4k  45.7k
109  ICICI Lombard General Insurance Company     3.6    5.4k  19.5k
110                        Access Healthcare     3.7    5.4k  26.8k
111                              GlobalLogic     3.5    5.4k  39.2k
112                    Firstsource Solutions     3.5    5.4k  23.5k
113                       Manappuram Finance     3.9    5.3k   9.1k
114                         Apollo Hospitals     4.0    5.3k  16.2k
115                         Mahindra Finance     3.9    5.3k  11.8k
116       Bosch Global Software Technologies     3.8    5.3k  38.7k
117                                      UST     3.7    5.2k  38.3k
118                            Ashok Leyland     4.0    5.2k  18.4k
119                                 Citicorp     3.7    5.2k    50k
120                                   Cyient     3.6    5.1k  27.1k
121                             PolicyBazaar     3.7    5.1k  16.6k
122                            Hero MotoCorp     4.1    5.1k  15.5k
123                                   Swiggy     3.7    5.1k  21.7k
124                                 JustDial     3.5    4.9k  15.4k
125             SBI Cards & Payment Services     3.6    4.9k  15.8k
126         Kalpataru Projects International     4.1    4.9k  13.4k
127                                      BNY     3.7    4.9k  30.1k
128                                    IQVIA     3.7    4.8k  29.9k
129                                     CBRE     4.1    4.8k  18.2k
130               SBI Life Insurance Company     3.7    4.8k  11.5k
131                                TVS Motor     3.9    4.8k  15.6k
132                                     vivo     4.0    4.8k  12.8k
133                                 NTT Data     3.8    4.7k  34.1k
134                       Persistent Systems     3.6    4.7k  42.7k
135                                   Eviden     3.6    4.7k  28.5k
136                                     Atos     3.8    4.7k  33.6k
137           Nagarjuna Construction Company     4.1    4.7k  11.5k
138                      State Bank of India     3.8    4.7k    11k
139                       Schneider Electric     4.1    4.7k  23.5k
140                             Ecom Express     4.0    4.6k   9.2k
141                                  Nagarro     3.9    4.6k  31.2k
142                                   Amdocs     3.7    4.6k  36.7k
143                      Home Credit Finance     4.0    4.5k   9.5k
144                                JBM Group     3.9    4.5k  13.6k
145                        KEC International     4.0    4.5k  12.8k
146          Piramal Capital Housing Finance     4.2    4.4k   9.5k
147                          Varun Beverages     4.0    4.4k  11.7k
148                                    Bosch     4.2    4.4k  20.3k
149               Hewlett Packard Enterprise     4.1    4.4k  26.4k
150    EY Global Delivery Services ( EY GDS)     3.5    4.3k  45.4k
151                       Mahindra Logistics     3.7    4.3k  12.9k
152                                     OPPO     3.9    4.3k  11.8k
153                                     Dell     3.8    4.3k  28.5k
154                             ITC Infotech     3.7    4.3k  28.8k
155          Aditya Birla Fashion and Retail     4.1    4.3k  12.6k
156                              L&T Finance     3.9    4.3k  11.4k
157                                 Randstad     3.7    4.3k  15.7k
158                                   CARS24     3.5    4.2k  15.2k
159                                   R1 RCM     3.8    4.2k  20.5k
160                    Intas Pharmaceuticals     4.1    4.2k  16.8k
161              Hyundai Motor India Limited     4.2    4.2k  13.5k
162                                  Havells     3.9    4.2k  15.1k
163                            Deutsche Bank     3.9    4.2k  34.8k
164               Utkarsh Small Finance Bank     3.7    4.2k  10.8k
165                  Tata AIA Life Insurance     3.9    4.1k    14k
166                                   Hetero     3.8    4.1k  14.9k
167         Motilal Oswal Financial Services     3.7    4.1k  12.5k
168                               Team Lease     3.9      4k  15.8k
169                               Bajaj Auto     3.8      4k  14.2k
170                                 Lenskart     3.2    3.9k  12.7k
171                          Thermax Limited     4.2    3.9k  12.8k
172                            Berger Paints     3.7    3.9k   9.5k
173                 Macleods Pharmaceuticals     3.6    3.9k  15.5k
174                           LG Electronics     3.9    3.9k  10.8k
175              Aakash Educational Services     3.2    3.9k  13.1k
176                      Tata Communications     3.9    3.9k    23k
177                            Royal Enfield     4.2    3.9k  14.3k
178                     Jubilant Foods Works     3.7    3.9k   8.9k
179                   VE Commercial Vehicles     3.9    3.8k  13.2k
180                               John Deere     4.0    3.8k    15k
181              HDFC Ergo General Insurance     3.9    3.8k  11.9k
182                                Oyo Rooms     3.1    3.8k  14.9k
183                     Jindal Steel Limited     3.9    3.8k    15k
184                                 DCB Bank     3.8    3.8k   9.6k
185                      Hindalco Industries     4.2    3.7k  11.8k
186                  Reliance Communications     4.0    3.7k   9.7k
187                                  Cummins     4.3    3.7k  15.3k
188                 State Street Corporation     3.5    3.7k  30.2k
189                                 RBL Bank     3.5    3.7k  18.1k
190                 Carelon Global Solutions     3.8    3.7k  26.2k
191                               XpressBees     4.2    3.7k   7.8k
192                          Bank of America     4.2    3.7k  27.5k
193                                 PVR Inox     3.9    3.6k   9.3k
194                  Alembic Pharmaceuticals     3.9    3.6k  14.9k
195                         Publicis Sapient     3.4    3.6k    30k
196                                  Viatris     4.1    3.6k    14k
197                         American Express     4.1    3.6k  23.5k
198                                   Subros     3.8    3.6k  12.4k
199                      Pidilite Industries     4.2    3.6k  11.1k

    Interviews   Jobs Benefits Photos
0        11.6k    881    10.6k     87
1         8.9k  28.5k     6.7k     48
2         6.4k   6.1k     4.6k     99
3         6.1k    553     5.5k     82
4         5.3k     2k     3.6k     41
5         2.7k    149     3.2k     70
6         8.2k   2.3k     4.8k    117
7         2.8k      3     3.7k     69
8         4.3k    273     3.8k     60
9         4.4k    522     3.4k     79
10        3.6k    372     3.5k     63
11        2.1k    702     1.8k     38
12        1.8k   1.1k     2.1k    109
13        1.9k     94     3.1k     66
14        3.2k     44     2.5k     80
15        5.6k   1.5k     4.1k     88
16         920     37      429     28
17        1.8k     77     1.9k    129
18        2.5k   1.8k     2.6k     23
19        3.2k    350      775     34
20          1k    143     1.5k     65
21        1.7k    842     2.8k     64
22        3.1k    945     2.4k     25
23        1.3k   1.5k     1.3k     39
24        1.5k     37     1.8k     38
25         638     18       2k     21
26        2.1k     --     1.7k     28
27          1k    441     1.6k     96
28        1.2k     66     1.3k     24
29         632     11      577     24
30        1.2k    163     1.6k     43
31         725    136      792     15
32        1.3k   3.6k     1.2k      6
33         853     21      695     60
34        1.6k    181     1.4k    102
35         658     18      718     15
36         869    249     1.1k      6
37        1.5k     1k      799     24
38        1.1k     84     1.1k      6
39         802      2     1.2k     15
40         741     91      613     55
41        1.3k     44      274     66
42         690      9      517     40
43         540    388      773     47
44         884     41      845    114
45         514    188      607     18
46          1k     --      657     49
47         505      8      439     22
48         583     93      681     16
49         773     46      883     34
50         854    438      580     24
51         730     98      619     45
52         411      4       28     42
53         723    620      977     25
54         392   2.7k      495     14
55         751    422      901     30
56         855    295      797     20
57         595     51      528     16
58         455     30      996     17
59         560     48      851     20
60         653     53      854     13
61         472     32      738     28
62         263     17      968     32
63         728    174      686      1
64         457    814      625     10
65         568    113      656     66
66         849      4       20     12
67         829    740      844     14
68         291     27      622     16
69         625    335      593     17
70         740    184      600     32
71         798    456      547     28
72         901     --      779     31
73         419     48      766     11
74         396     14      604     21
75         437     35      703      3
76         496     12      397     32
77         893    121      749      6
78         650     73      637     14
79         388     --      422     74
80         293    121      579     23
81         376    251      495      8
82         535     22      539     38
83         551     21      540     48
84         520    205      720     17
85         601     --      415     11
86         635    197      273    102
87         308     34      433     17
88         926    509      617     39
89         420     78      474     17
90         193     --      728      8
91         505     --      661      1
92         451    212      540     20
93         510    145      390     26
94         319     92      325      8
95         249     21      293     37
96         606    730      553     26
97         634     18      318     19
98         364      3      755     14
99         531     62     1.1k     26
100        725    716      431     15
101        508    161      472     16
102        283     10      468      9
103        484    540      632     13
104        396     49      632     14
105        194     81      347     17
106        311     --      305     --
107        442     78      380     33
108        551     92      397      5
109        340    166      366     15
110        364    479      347      9
111        666     37      515     21
112        344    166      570     16
113        206      4      260     29
114        449     72      506      2
115        193    429      507      9
116        376    215      624     21
117        566     99      407     16
118        300     --      642     14
119        608     --      517      6
120        316     82      466      3
121        567    457      231     14
122        389     --      584      9
123        522    192      342     17
124        375     66      372      9
125        284    137      343     13
126        304      1      203     21
127        381      2      527      1
128        522     20      524     10
129        324     19      443     18
130        286     13      326     16
131        367     69      536     10
132        220      1      643      3
133        696      8      155      7
134        687    344      369     33
135        313     --        1     11
136        401     64      454     10
137        397     10      407     11
138        296      1      400      5
139        419     46      463     13
140        251     --      323     35
141        821    134     1.1k     19
142        551     75      613     20
143        139     98      629      6
144        326     49      342     21
145        387      6      441     45
146        223      3      262     36
147        311     43      321     27
148        368     75      599     18
149        256     85      546     18
150        857     47      145     16
151        240     --      445     24
152        244      4      602     10
153        418     32      540     25
154        401     90      281      8
155        255     77      392     13
156        204     --      260     30
157        304      5      330      7
158        388    143      410     17
159        344    405      333     23
160        248     45      362      9
161        311      2      517     24
162        264     34      315      9
163        410    664      398     79
164        280     12      269     43